<%- include('partials/header.ejs'); %>

<div class="card w-full sm:w-11/12">
  <div class="w-full">
    <h2>Auditar unidades</h2>
    <div class="mt-8 mx-auto w-[320px] sm:w-1/2 lg:w-1/4">
      <form action="<%= `/audit?sort=${field}&order=${order}` %>" method="post" id="auditForm">
        <div class="form-line sm:hidden">
          <select name="auditSortMobile" id="auditSortMobile" class="capitalize w-full" aria-label="Selecione um campo para ordenação.">
            <option value="codigo" <%= field === 'codigo' ? 'selected' : ''; %> >Código</option>
            <option value="indicador" <%= field === 'indicador' ? 'selected' : ''; %> >IGAI/Avaliação</option>
          </select>
        </div>
        <div class="form-line hidden w-full sm:inline-block">
          <select name="auditSort" id="auditSort" class="capitalize w-full" aria-label="Selecione um campo para ordenação.">
            <option value="codigo" <%= field === 'codigo' ? 'selected' : ''; %> >Código</option>
            <option value="indicador" <%= field === 'indicador' ? 'selected' : ''; %> >IGAI/Avaliação</option>
            <% for (let i = 4; i < 12; i++) { %>
              <% for (let key in fields[i][1]) { %>
                <option class="capitalize" value="<%= fields[i][0] %>.<%= key %>" <%= field === fields[i][0] + '.' + key ? 'selected' : '' %> ><%= fields[i][0] %>: <%= key %></option>
              <% } %>
            <% } %>
          </select>
        </div>
        <div class="form-line">
          <select name="auditOrder" id="auditOrder" class="w-full" aria-label="Selecione o tipo de ordenação.">
            <option value="asc" <%= order === 'asc' ? 'selected' : ''; %> >Crescente</option>
            <option value="desc" <%= order === 'desc' ? 'selected' : ''; %> >Decrescente</option>
          </select>
        </div>
        <div class="flex justify-end gap-4 mt-4">
          <button type="button" class="button button-tertiary" onclick="window.location='/dashboard'">Retornar</button>
          <button type="submit" class="button button-primary">Auditar</button>
        </div> 
      </form>
    </div>
    <div class="mt-12 px-4 md:mx-auto md:px-0 md:w-3/5">
      <input type="text" name="busca" id="busca" placeholder="Pesquise por unidade..." onkeyup="buscaEscola()" autofocus />
    </div>
    <div class="hidden max-h-[600px] w-full mt-4 overflow-scroll border border-primary scroll-smooth sm:block">
      <table class="text-center mx-auto w-full whitespace-nowrap" aria-label="Tabela com as unidades de acordo com os critérios de ordenação selecionados." id="escolas">
        <thead class="sticky top-0 z-10">
          <tr>
            <th class="sticky left-0" scope="col" rowspan="2">#</th>
            <th scope="col" rowspan="2" class="<%= field === "codigo" ? 'auditado' : '' %>">Cód.</th>
            <th class="sticky left-8" scope="col" rowspan="2">Nome</th>
            <th scope="col" rowspan="2">Bairro</th>
            <th scope="col" rowspan="2" class="<%= field === "indicador" ? 'auditado' : '' %>">IGAI</th>
            <th scope="col" rowspan="2" class="<%= field === "indicador" ? 'auditado' : '' %>">Avaliação</th>
            <% for (let i = 4; i < 12; i++) { %>
              <% let keys = 0; %>
              <% for (let key in fields[i][1]) { %>
                <% keys += 1; %>
              <% } %>
              <th class="capitalize" scope="col" rowspan="1" colspan="<%= keys %>">
                <%= fields[i][0] %>
              </th>              
            <% } %>
            <th class="capitalize" scope="col" rowspan="2">Reservatório</th>
          </tr>
          <tr>
            <% for (let i = 4; i < 12; i++) { %>
              <% for (let key in fields[i][1]) { %>
              <th class="capitalize <%= field === fields[i][0] + '.' + key ? 'auditado' : '' %>" scope="col"><%= key %></th>
              <% } %>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% let count = 0; %>
          <% schools.forEach((school) => { %>
          <tr class="<%= school.ativa == false ? 'hidden' : ''; %>">
            <% if (school.ativa) {count += 1}; %>
            <td class="sticky left-0 text-left z-[1]"><%= count %></td>
            <td class="<%= field === "codigo" ? 'auditado' : '' %>"><%= school.codigo %></td>
            <td class="sticky left-8 text-left z-[1] unidade"><%= school.nome %></td>
            <td><%= school.bairro %></td>
            <td class="<%= field === "indicador" ? 'auditado' : '' %>">
              <%= school.indicador.toLocaleString("default", {style: "decimal",
              maximumFractionDigits: 1}) %>
            </td>
            <td class="<%= field === "indicador" ? 'auditado' : '' %>"><%= school.avaliacao %></td>
            <% for (let i = 4; i < 12; i++) { %>
              <% for (let key in fields[i][1]) { %>
                <% let hint; %>
                <% switch (school[fields[i][0]][key]) {
                  case 1:
                    hint = "1 - Péssimo."
                    break;
                  case 2:
                    hint = "2 - Ruim."
                    break;
                  case 3:
                    hint = "3 - Regular."
                    break;
                  case 4:
                    hint = "4 - Bom."
                    break;
                  case 5:
                    hint = "5 - Ótimo."
                    break;                
                  default:
                    hint = "X - Não se aplica."
                    break;
                } %>
                <td class="-z-10 <%= field === fields[i][0] + '.' + key ? 'auditado' : '' %>">
                  <span
                    class="cursor-help hint--top hint--info hint--rounded hint--bounce"
                    aria-label="<%= hint %>"
                  >
                    <%= school[fields[i][0]][key] === 0 ? 'X' : school[fields[i][0]][key] %>
                  </span>
                </td>
              <% } %>
            <% } %>
            <td class="<%= field === "reservatorio" ? 'auditado' : '' %>"><%= school.reservatorio %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center w-full mx-auto my-4 sm:hidden">
      <table class="text-center break-words mx-auto" aria-label="Tabela com as unidades de acordo com os critérios de ordenação selecionados." id="escolasMobile">
        <thead class="sticky top-0 z-10">
          <tr>
            <th scope="col" rowspan="2" class="<%= field === "codigo" ? 'auditado' : '' %>">Cód.</th>
            <th class="sticky left-0" scope="col" rowspan="2">Escola</th>
            <th scope="col" rowspan="2">Bairro</th>
            <th scope="col" rowspan="2"class="<%= field === "indicador" ? 'auditado' : '' %>">IGAI</th>
            <th scope="col" rowspan="2"class="<%= field === "indicador" ? 'auditado' : '' %>">Avaliação</th>
          </tr>
        </thead>
        <tbody>
          <% schools.forEach((school) => { %>
          <tr class="<%= school.ativa == false ? 'hidden' : ''; %>">
            <td class="<%= field === "codigo" ? 'auditado' : '' %>"><%= school.codigo %></td>
            <td class="sticky left-0 text-left z-0 unidade"><%= school.nome %></td>
            <td class="-z-10"><%= school.bairro %></td>
            <td class="<%= field === "indicador" ? 'auditado' : '' %>">
              <%= school.indicador.toLocaleString("default", {style: "decimal",
              maximumFractionDigits: 1}) %>
            </td>
            <td class="<%= field === "indicador" ? 'auditado' : '' %>"><%= school.avaliacao %></td>
          </tr>
          <% }) %>
        </tbody>
      </table> 
    </div>
  </div>
</div>
<div class="flex justify-center mt-2 pb-6">
  <button type="button" class="button button-tertiary" onclick="window.location='/dashboard'">Retornar</button>
</div>

<script src="/js/buscaEscola.js"></script>

<%- include('partials/logoutButton.ejs'); %>
<%- include('partials/footer.ejs'); %>
