<%- include('partials/header.ejs'); %>

<div class="card w-full sm:w-11/12">
  <div class="w-full">
    <h2>Auditar unidades</h2>
    <div class="mt-8 mx-auto w-[320px] md:w-1/2 lg:w-1/4">
      <form action="/audit" method="post">
        <div class="form-line sm:hidden">
          <select name="auditSortMobile" id="auditSortMobile" class="capitalize w-full" aria-label="Selecione um campo para ordenação." onchange="mobileAuditField()">
            <option value="codigo">Código</option>
            <option value="indicador">IGAI/Avaliação</option>
          </select>
        </div>
        <div class="form-line hidden w-full sm:inline-block">
          <select name="auditSort" id="auditSort" class="capitalize w-full" aria-label="Selecione um campo para ordenação.">
            <option value="codigo" <%= field === "codigo" ? "selected" : "" %> >Código</option>
            <option value="indicador" <%= field === "indicador" ? "selected" : "" %> >IGAI/Avaliação</option>
            <option value="bairro" <%= field === "bairro" ? "selected" : "" %> >Bairro</option>
            <option value="ocupacao" <%= field === "ocupacao" ? "selected" : "" %> >Ocupação</option>
            <option value="indicador2" <%= field === "indicador2" ? "selected" : "" %> >Histórico</option>
            <% for (let i = 4; i < 14; i++) { %>
              <% for (let key in fields[i][1]) { %>
                <option class="capitalize replace" value="<%= fields[i][0] %>.<%= key %>" <%= field === fields[i][0] + "." + key ? "selected" : "" %> ><%= fields[i][0] %>: <%= key %></option>
              <% } %>
            <% } %>
          </select>
        </div>
        <div class="form-line">
          <select name="auditOrder" id="auditOrder" class="w-full" aria-label="Selecione o tipo de ordenação.">
            <option value="asc" <%= order === "asc" ? "selected" : "" %> >Crescente</option>
            <option value="desc" <%= order === "desc" ? "selected" : "" %> >Decrescente</option>
          </select>
        </div>
        <div class="flex justify-end gap-4 mt-4">
          <button type="button" class="button button-tertiary" onclick="window.location='/dashboard'">Retornar</button>
          <button type="submit" class="button button-primary">Auditar</button>
        </div>
      </form>
    </div>
    <div class="relative w-11/12 mt-12 mx-auto md:w-3/5">
      <input type="text" name="busca" id="busca" placeholder="Pesquise por unidade..." onkeyup="buscaEscola()" autofocus />
      <button role="button" class="limpa-busca" onclick="limpaBusca()"></button>
    </div>
    <div class="hidden max-h-[600px] w-full mt-4 overflow-scroll border border-primary scroll-smooth md:block">
      <table class="text-center mx-auto w-full whitespace-nowrap" aria-label="Tabela com as unidades de acordo com os critérios de ordenação selecionados." id="escolas">
        <thead class="sticky top-0 z-10">
          <tr>
            <th class="sticky left-0 min-w-[3rem]" scope="col" rowspan="2">#</th>
            <th class="sticky left-12 min-w-[10rem]" scope="col" rowspan="2">Nome</th>
            <th scope="col" rowspan="2" id="bairro" class="<%= field === "bairro" ? "auditado" : "" %>">Bairro</th>
            <th class="sticky left-52 min-w-[5rem] <%= field === "indicador" ? "auditado" : "" %>" scope="col" rowspan="2" id="indicador">IGAI</th>
            <th class="sticky left-72 <%= field === "indicador" ? "auditado" : "" %>" scope="col" rowspan="2">Avaliação</th>
            <% for (let i = 4; i < 14; i++) { %>
              <% let keys = 0; %>
              <% for (let key in fields[i][1]) { %>
                <% keys += 1; %>
              <% } %>
              <th class="capitalize replace" scope="col" rowspan="1" colspan="<%= keys %>">
                <%= fields[i][0] %>
              </th>              
            <% } %>
            <th class="capitalize <%= field === "ocupacao" ? "auditado" : "" %>" scope="col" rowspan="2" id="ocupacao">Ocupação</th>
            <th class="capitalize <%= field === "indicador2" ? "auditado" : "" %>" scope="col" rowspan="2" id="indicador2">Histórico</th>
          </tr>
          <tr>
            <% for (let i = 4; i < 14; i++) { %>
              <% for (let key in fields[i][1]) { %>
              <th class="capitalize replace <%= field === fields[i][0] + "." + key ? "auditado" : "" %>" scope="col" id="<%= key %>"><%= key %></th>
              <% } %>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% let count = 0; %>
          <% schools.forEach((school) => { %>
          <tr>
            <% count += 1; %>
            <td class="sticky left-0 text-center z-[1]"><%= count %></td>
            <td class="sticky left-12 text-left z-[1] unidade whitespace-normal"><%= school.nome %></td>
            <td class="whitespace-normal"><%= school.bairro %></td>
            <td class="sticky left-52 z-[1]">
              <%= school.indicador.toLocaleString("default", {style: "decimal",
              maximumFractionDigits: 1}) %>
            </td>
            <td class="sticky left-72 z-[1]"><%= school.avaliacao %></td>
            <% for (let i = 4; i < 14; i++) { %>
              <% for (let key in fields[i][1]) { %>
                <% if (i < 12) { %>
                  <% let hint; %>
                  <% switch (school[fields[i][0]][key]) {
                    case 0:
                      hint = "X - Não se aplica."
                      break;
                    case 1:
                      hint = "1 - Péssimo."
                      break;
                    case 2:
                      hint = "2 - Ruim."
                      break;
                    case 3:
                      hint = "3 - Regular."
                      break;
                    case 4:
                      hint = "4 - Bom."
                      break;
                    case 5:
                      hint = "5 - Ótimo."
                      break;
                  } %>
                  <td class="-z-10 <%= field === fields[i][0] + "." + key ? "auditado" : "" %>">
                    <span
                      class="cursor-help hint--top hint--info hint--rounded hint--bounce"
                      aria-label="<%= hint %>"
                    >
                      <%= school[fields[i][0]][key] === 0 ? 'X' : school[fields[i][0]][key] %>
                    </span>
                  </td>
                <% } else { %>
                  <td class="-z-10 <%= field === fields[i][0] + "." + key ? "auditado" : "" %>">
                    <% if (school[fields[i][0]][key] === true) { %>
                      Sim
                    <% } else if (school[fields[i][0]][key] === false) { %>
                      Não
                    <% } else if (typeof school[fields[i][0]][key] === "number") { %>
                      <%= school[fields[i][0]][key].toLocaleString("default") %>
                    <% } else { %>
                      <%= school[fields[i][0]][key] %>
                    <% } %>
                  </td>
                <% } %>
              <% } %>
            <% } %>
            <td><%= school.ocupacao %></td>
            <td><%= typeof school.indicador2 !== "undefined" ? school.indicador2.toLocaleString("default", {style: "decimal", maximumFractionDigits: 1}) : "" %> - <%= typeof school.avaliacao2 !== "undefined" ? school.avaliacao2 : "" %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center w-full mx-auto my-4 md:hidden">
      <table class="text-center break-words mx-auto" aria-label="Tabela com as unidades de acordo com os critérios de ordenação selecionados." id="escolasMobile">
        <thead class="sticky top-0 z-10">
          <tr>
            <th scope="col" rowspan="2">#</th>
            <th class="sticky left-0" scope="col" rowspan="2">Escola</th>
            <th scope="col" rowspan="2">Bairro</th>
            <th scope="col" rowspan="2" class="<%= field === "indicador" ? "auditado" : "" %>">IGAI</th>
            <th scope="col" rowspan="2" class="<%= field === "indicador" ? "auditado" : "" %>">Avaliação</th>
          </tr>
        </thead>
        <tbody>
          <% count = 0; %>
          <% schools.forEach((school) => { %>
          <tr>
            <% count += 1; %>
            <td><%= count %></td>
            <td class="sticky left-0 text-left z-0 unidade"><%= school.nome %></td>
            <td class="-z-10"><%= school.bairro %></td>
            <td class="<%= field === "indicador" ? "auditado" : "" %>">
              <%= school.indicador.toLocaleString("default", {style: "decimal",
              maximumFractionDigits: 1}) %>
            </td>
            <td class="<%= field === "indicador" ? "auditado" : "" %>"><%= school.avaliacao %></td>
          </tr>
          <% }) %>
        </tbody>
      </table> 
    </div>
  </div>
</div>
<div class="flex justify-center mt-2 pb-6">
  <button type="button" class="button button-tertiary" onclick="window.location='/dashboard'">Retornar</button>
</div>

<script>
  const mobileSelect = document.getElementById("auditSortMobile");
  const select = document.getElementById("auditSort");

  function mobileAuditField () {
    select.value = mobileSelect.value;
  }

  const field = "<%= locals.field %>";

  if (field !== "codigo") {
    window.onload = function () {
      if (field.indexOf(".") >= 0) {
        const subField = field.substr(field.indexOf(".") + 1);
        document.querySelector("#" + subField).scrollIntoView({
          behavior: "smooth",
          block: "center",
          inline: "end"
        });
      } else {
        document.querySelector("#" + field).scrollIntoView({
          behavior: "smooth",
          block: "center",
          inline: "end"
        });
      }
    };
  }
</script>
<script src="/js/buscaEscola.js"></script>

<%- user.role === 'admin' ? include('partials/floatingMenuAdmin.ejs') : include('partials/floatingMenuBasic.ejs'); %>
<%- include('partials/footer.ejs'); %>
