<%- include('partials/header.ejs'); %>

<div class="card w-full">
  <div class="w-full">
    <h2>Gráficos</h2>
    <div class="mt-8 px-4">
      <h3 class="capitalize" id="graphTitle">Instalações</h3>
      <div class="md:w-2/3 h-[500px] mt-4 mb-24 mx-auto">
        <canvas id="chart"></canvas>
        <div id="legend-container" class="mt-1 md:mt-4"></div>
      </div>
    </div>
    <div class="flex flex-col mx-auto px-4 sm:w-1/2 lg:w-1/4">
      <h3>Selecionar os dados</h3>
      <div class="w-full mt-4">
        <select
          name="fieldSelect"
          id="fieldSelect"
          class="capitalize w-full"
          aria-label="Selecione um campo para criação do gráfico."
          onchange="updateChart()"
        >
          <% for (let i = 4; i < 12; i++) { %>
          <option class="capitalize" value="<%= fields[i][0] %>">
            <%= fields[i][0] %>
          </option>
          <% } %>
          <option value="ocupacao">Ocupação</option>
          <option value="avaliacao">IGAI/Avaliação</option>
        </select>
      </div>
      <div class="flex justify-center gap-4 mt-4">
        <button
          type="button"
          class="button button-tertiary"
          onclick="window.location='/dashboard'"
        >
          Retornar
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/js/chart-3.7.1.min.js"></script>

<% if (locals.data) { %>
  <%- include('partials/chartsScript.ejs') %> 
<% } %>

<%- user.role === 'admin' ? include('partials/floatingMenuAdmin.ejs') : include('partials/floatingMenuBasic.ejs'); %>
<%- include('partials/footer.ejs'); %>
