<%- include('partials/header.ejs'); %>

<div class="card w-[320px] sm:w-2/3">
  <div class="w-full">
    <div>
      <h2>Dashboard</h2>
      <% if (locals.success) { %>
        <div class="success">
          <ul>
            <li><%= success %></li>
            <% if (locals.token) { %>
              <li class="break-all cursor-pointer" onclick=<%= `window.location='/register/${token}'` %> >
                Link de registro
              </li>
            <% } %>
          </ul>
        </div>
      <% }; %>
      <% if (locals.error) { %>
        <div class="error">
          <ul>
            <li><%= error %></li>
          </ul>
        </div>
      <% }; %>
      <div class="flex flex-col items-center mt-4 px-2 pb-4 border-b-2 border-gray-300 lg:flex-row lg:justify-center">
        <% const hour = new Date().getHours(); %>
        <% let greeting = 'Boa noite'; %>
        <% if (hour >= 6) greeting = 'Bom dia';  %>
        <% if (hour >= 12) greeting = 'Boa tarde';  %>
        <% if (hour >= 19) greeting = 'Boa noite';  %>
        <div class="flex flex-col text-center w-full pb-4 border-b-2 border-b-gray-300 lg:w-1/2 lg:text-left lg:border-b-0">
          <p><%= greeting %>, <span class="font-medium text-lg text-primary"><%= user.name %></span>.</p>
          <p class="md:mt-6">Há <span class="font-medium text-lg text-primary"><%= schools.length %></span> unidades escolares cadastradas, das quais <span class="font-medium text-lg text-primary"><%= activeSchools.length %></span> estão ativas.</p>
          <div class="mt-4 place-self-center md:mt-6 lg:place-self-auto <%= user.role !== 'admin' ? 'hidden' : '' %>">
            <button type="button" class="button button-secondary" onclick="window.location='/register-school'">Cadastrar unidade</button>
          </div>    
        </div>
        <div id="chart" class="w-full mt-4 lg:w-1/3">
          <h3 class="mb-4">Gráfico de Avaliações</h3>
          <canvas id="dashboardChart"></canvas>
        </div>
      </div>
      <div class="flex justify-start mt-6">
        <input type="checkbox" name="ativa" id="ativa" class="toggle" />
        <label for="ativa">Mostrar inativas?</label>
      </div>
      <div class="flex justify-center mt-4 mb-8 w-full scroll-smooth md:justify-start md:border md:border-primary md:h-[500px] md:overflow-y-scroll">
        <table class="text-center font-medium w-full select-none lg:whitespace-nowrap" id="escolas">
          <thead class="sticky top-0 z-10">
            <tr>
              <th>Cód.</th>
              <th>Nome</th>
              <th>Bairro</th>
              <th>IGAI</th>
              <th>Avaliação</th>
            </tr>
          </thead>
          <tbody>
            <% schools.forEach((school) => { %>
            <tr
              class="<%= user.role !== 'admin' ? '' : 'cursor-pointer' %> <%= school.ativa === false ? 'hidden' : ''; %>"
              <%= user.role !== 'admin' ? '' : `onClick=window.location='/school?unidade=${school.codigo}'` %>
            >
              <td><%= school.codigo %></td>
              <td class="text-left"><%= school.nome %></td>
              <td><%= school.bairro %></td>
              <td>
                <%= school.indicador.toLocaleString("default", {style:
                "decimal", maximumFractionDigits: 1}) %>
              </td>
              <td><%= school.avaliacao %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="flex justify-center mt-8 mb-4">
        <button type="button" class="button button-primary" onclick="window.location='/audit'">Auditar</button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/dashboardChart.ejs'); %>
<%- include('partials/logoutButton.ejs'); %>
<%- include('partials/footer.ejs'); %>
