<%- include('partials/header.ejs'); %>

<div class="card min-w-[336px] w-5/6 max-w-lg sm:w-3/4 lg:w-1/2">
  <div class="w-full">
    <h2>Editar a unidade</h2>
    <form method="post" action="/igaie/edit-school" id="editSchoolForm">
      <div class="form-line">
        <label for="codigo">Código<span class="required">*</span></label>
        <div>
          <input
            type="number"
            name="codigo"
            id="codigo"
            value="<%= school.codigo %>"
            min="1"
            required
            autofocus
          />
        </div>
      </div>
      <div class="form-line">
        <label for="nome">Nome<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="nome"
            id="nome"
            minlength="3"
            value="<%= school.nome %>"
            required
          />
          <span class="validation-error" id="nomeError" aria-live="polite"
            >Nome precisa ter 3 caracteres ou mais.</span
          >
        </div>
      </div>
      <div class="form-line">
        <label for="bairro">Bairro<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="bairro"
            id="bairro"
            minlength="3"
            value="<%= school.bairro %>"
            required
          />
          <span class="validation-error" id="bairroError" aria-live="polite"
            >Bairro precisa ter 3 caracteres ou mais.</span
          >
        </div>
      </div>
      <div class="form-line">
        <label for="ocupacao">Ocupação<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="ocupacao"
            id="ocupacao"
            minlength="3"
            value="<%= school.ocupacao %>"
            required
          />
          <span class="validation-error" id="ocupacaoError" aria-live="polite"
            >Ocupação precisa ter 3 caracteres ou mais.</span
          >
        </div>
      </div>
      <div class="form-line">
        <label for="reservatorio.tipo">Reservatório</label>
        <div class="flex flex-wrap gap-2">
          <textarea
            name="reservatorio.tipo"
            id="reservatorio.tipo"
            value="<%= school.reservatorio.tipo %>"
            placeholder="Tipo de reservatorio."
            class="w-full"
          ></textarea>
          <input
            type="number"
            name="reservatorio.capacidade"
            id="reservatorio.capacidade"
            value="<%= school.reservatorio.capacidade === 0 ? '' : school.reservatorio.capacidade %>"
            min="0"
            placeholder="Capacidade do reservatório (litros)."
          />
        </div>
      </div>
      <div class="form-line">
        <label for="cisterna.capacidade">Cisterna</label>
        <div class="flex flex-wrap gap-2">
          <div class="flex justify-start">
            <div
              class="flex items-center mx-auto mb-2 sm:mb-4 gap-4 sm:gap-8 w-[336px]"
              style="margin-left: 0; margin-right: 0"
            >
              <div class="switch-label">
                <span>Possui cisterna?</span>
              </div>
              <div class="switch-toggle">
                <input type="checkbox" id="cisterna.possui"
                name="cisterna.possui" <%= school.cisterna.possui === true ?
                'checked' : '' %> >
                <label for="cisterna.possui"></label>
              </div>
            </div>
          </div>
          <input
            type="number"
            name="cisterna.capacidade"
            id="cisterna.capacidade"
            value="<%= school.cisterna.capacidade === 0 ? '' : school.cisterna.capacidade %>"
            min="0"
            placeholder="Capacidade da cisterna (litros)."
          />
          <input
            type="text"
            name="bomba"
            id="bomba"
            value="<%= school.bomba %>"
            placeholder="Tipo de bomba da cisterna."
          />
        </div>
      </div>
      <div class="form-line mt-4">
        <div class="flex justify-start">
          <div
            class="flex items-center mx-auto mb-2 sm:mb-4 gap-4 sm:gap-8 w-[336px]"
            style="margin-left: 0; margin-right: 0"
          >
            <div class="switch-label">
              <span>Unidade ativa?</span>
            </div>
            <div class="switch-toggle">
              <input type="checkbox" id="ativa" name="ativa" <%= school.ativa
              === true ? 'checked' : '' %> >
              <label for="ativa"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-4 mt-8">
        <button
          type="button"
          class="button button-tertiary"
          onclick="window.location='<%= `/igaie/school?unidade=${school.codigo}` %>'"
        >
          Retornar
        </button>
        <button
          type="submit"
          class="button button-primary"
          id="editSchoolSubmit"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  const submitButton = document.querySelector("button[type='submit']");
  submitButton.addEventListener("click", () => {
    const form = document.querySelector("form");
    form.submit();
    submitButton.disabled = true;
  });
</script>

<%- include('partials/floatingMenu.ejs'); %> <%- include('partials/footer.ejs');
%>
