<%- include('partials/header.ejs'); %>

<div class="card w-[320px] sm:w-1/2 lg:w-1/3">
  <div class="w-full">
    <h2>Editar a unidade</h2>
    <% if (locals.success) { %>
    <div class="success">
      <ul>
        <li><%= success %></li>
      </ul>
    </div>
    <% }; %> <% if (locals.errors) { %>
    <div class="error <%= errors == '' ? 'hidden' : '' %>">
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }); %>
      </ul>
    </div>
    <% }; %>
    <form method="post" action="/edit-school" id="editSchoolForm">
      <div class="form-line">
        <label for="codigo">Código<span class="required">*</span></label>
        <div>
          <input
            type="number"
            name="codigo"
            id="codigo"
            value="<%= school.codigo %>"
            min="1"
            required
            autofocus
          />
        </div>
      </div>
      <div class="form-line">
        <label for="nome">Nome<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="nome"
            id="nome"
            minlength="3"
            value="<%= school.nome %>"
            required
          />
          <span
            class="hidden validation-error"
            id="nomeError"
            aria-live="polite"
          ></span>
        </div>
      </div>
      <div class="form-line">
        <label for="bairro">Bairro<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="bairro"
            id="bairro"
            minlength="3"
            value="<%= school.bairro %>"
            required
          />
          <span
            class="hidden validation-error"
            id="bairroError"
            aria-live="polite"
          ></span>
        </div>
      </div>
      <div class="form-line">
        <label for="ocupacao">Ocupação<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="ocupacao"
            id="ocupacao"
            minlength="3"
            value="<%= school.ocupacao %>"
            required
          />
        </div>
      </div>
      <div class="form-line">
        <label for="reservatorio.tipo">Reservatório</label>
        <div class="flex flex-wrap gap-2">
          <textarea
            name="reservatorio.tipo"
            id="reservatorio.tipo"
            value="<%= school.reservatorio.tipo %>"
            placeholder="Tipo de reservatorio."
            class="w-full"
          ></textarea>
          <input
            type="number"
            name="reservatorio.capacidade"
            id="reservatorio.capacidade"
            value="<%= school.reservatorio.capacidade === 0 ? '' : school.reservatorio.capacidade %>"
            min="0"
            placeholder="Capacidade do reservatório (litros)."
          />
        </div>
      </div>
      <div class="form-line">
        <label for="cisterna.capacidade">Cisterna</label>
        <div class="flex flex-wrap gap-2">
          <div class="mt-1 mb-2">
            <input type="checkbox" name="cisterna.possui" id="cisterna.possui" class="toggle" <%=
            school.cisterna.possui == true ? 'checked' : ''; %> />
            <label for="cisterna.possui">Possui cisterna?</label>
          </div>
          <input
            type="number"
            name="cisterna.capacidade"
            id="cisterna.capacidade"
            value="<%= school.cisterna.capacidade === 0 ? '' : school.cisterna.capacidade %>"
            min="0"
            placeholder="Capacidade da cisterna (litros)."
          />
          <input
            type="text"
            name="bomba"
            id="bomba"
            value="<%= school.bomba %>"
            placeholder="Tipo de bomba da cisterna."
          />
        </div>
      </div>
      <div class="form-line">
        <label for="ativa">Escola ativa?</label>
        <div class="mt-1 mb-4">
          <input type="checkbox" name="ativa" id="ativa" class="toggle" <%=
          school.ativa == true ? 'checked' : ''; %> />
          <label for="ativa">Unidade ativa?</label>
        </div>
      </div>
      <div class="flex justify-end gap-4 mt-6">
        <button
          type="button"
          class="button button-tertiary"
          onclick="window.location='<%= `/school?unidade=${school.codigo}` %>'"
        >
          Retornar
        </button>
        <button
          type="submit"
          class="button button-primary"
          id="editSchoolSubmit"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>

<%- user.role === 'admin' ? include('partials/floatingMenuAdmin.ejs') : include('partials/floatingMenuBasic.ejs'); %>
<%- include('partials/footer.ejs'); %>
