<%- include('partials/header.ejs'); %>

<div class="card w-full md:w-2/3 lg:w-3/4">
  <div class="w-full">
    <div>
      <h2>Registros do sistema</h2>
      <div class="flex justify-center mt-4 mb-8 w-full scroll-smooth md:justify-start md:border md:border-primary md:max-h-[500px] md:overflow-y-scroll">
        <table class="text-center font-medium w-full" id="escolas" aria-label="Tabela com as unidades da rede.">
          <thead class="sticky top-0 z-10">
            <tr>
              <th>Data</th>
              <th>Usuário</th>
              <th class="hidden md:table-cell">Ação</th>
              <th>Mensagem</th>
              <th>Dados</th>
            </tr>
          </thead>
          <tbody>
            <% log.forEach((item, index) => { %>
              <tr>
                <td class="md:whitespace-nowrap"><%= item.createdAt.toLocaleDateString("default", { 
                  day:"2-digit",
                  month: "2-digit",
                  year: "2-digit",
                  hour: "2-digit",
                  minute: "2-digit",
                  second: "2-digit"
                  }) %></td>
                <td><%= users[index] %></td>
                <td class="hidden md:table-cell"><%= item.action %></td>
                <td><%= item.msg %></td>
                <td class="text-left capitalize break-words">
                  <% Object.keys(item.data).forEach(key => { %>
                    <% if(key === "atualizadoEm" || key === "atualizadoPor") { %>
                      <% return %>
                    <% } %>                    
                    <% if(key === "indicador") { %>
                      <% item.data[key] = item.data[key].toLocaleString("default", {
                        style: "decimal",
                        maximumFractionDigits: 1
                        }) %>
                    <% } %>
                    <p><%= `${key}: ${item.data[key]}` %></p>
                  <% }); %>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="flex justify-center mt-8">
        <button type="button" class="button button-tertiary" onclick="window.location='/dashboard'">Retornar</button>
      </div>
    </div>
  </div>
</div>

<%- user.role === 'admin' ? include('partials/logoutButtonAdmin.ejs') : include('partials/logoutButtonBasic.ejs'); %>
<%- include('partials/footer.ejs'); %>
