<%- include('partials/header.ejs'); %>

<div class="flex flex-col justify-center mb-8 mx-auto px-3 w-full md:w-11/12">
  <h2 class="mb-8 sm:mb-12 xl:mb-16">Registros do sistema</h2>
  <%- include("partials/logTable.ejs") %>
  <div class="flex justify-center mt-8 sm:mt-12">
    <a
      href="<%= process.env.PREFIX %>/dashboard"
      class="button button-tertiary"
    >
      Retornar
    </a>
  </div>
</div>

<%- include('partials/floatingMenu.ejs'); %>
<%- include('partials/footer.ejs'); %>
