<%- include('partials/header.ejs'); %>

<div class="card min-w-[336px] w-5/6 max-w-md sm:w-3/4">
  <div class="w-full">
    <h2>Cadastrar unidade</h2>
    <form method="post" action="<%= process.env.PREFIX %>/register-school">
      <div class="form-line">
        <label for="codigo">Código<span class="required">*</span></label>
        <div>
          <input
          type="number"
          name="codigo"
          id="codigo"
          placeholder="Código da escola"
          min="1"
          <% if (locals.codigo) { %>
            value="<%= codigo %>"
          <% } %>
          required
          autofocus
          />
        </div>
      </div>
      <div class="form-line">
        <label for="nome">Nome<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="nome"
            id="nome"
            placeholder="Nome da escola"
            minlength="3"
            <% if (locals.nome) { %>
              value="<%= nome %>"
            <% } %>
            required
          />
          <span
            class="hidden validation-error"
            id="nomeError"
            aria-live="polite"
            >Nome precisa ter 3 caracteres ou mais.</span
          >
        </div>
      </div>
      <div class="form-line">
        <label for="bairro">Bairro<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="bairro"
            id="bairro"
            placeholder="Bairro da escola"
            minlength="3"
            <% if (locals.bairro) { %>
              value="<%= bairro %>"
            <% } %>
            required
          />
          <span
            class="hidden validation-error"
            id="bairroError"
            aria-live="polite"
            >Bairro precisa ter 3 caracteres ou mais.</span
          >
        </div>
      </div>
      <div class="form-line">
        <label for="ocupacao">Ocupação<span class="required">*</span></label>
        <div>
          <input
            type="text"
            name="ocupacao"
            id="ocupacao"
            placeholder="Tipo de ocupação da escola"
            minlength="3"
            <% if (locals.ocupacao) { %>
              value="<%= ocupacao %>"
            <% } %>
            required
          />
          <span
            class="hidden validation-error"
            id="ocupacaoError"
            aria-live="polite"
            >Ocupação precisa ter 3 caracteres ou mais.</span
          >
        </div>
      </div>
      <div class="form-line">
        <div class="flex justify-center xl:justify-start">
          <div
            class="flex justify-center items-center mx-auto mb-2 sm:mb-4 p-4 gap-4 sm:gap-8 w-[336px]"
            style="margin-left: 0; margin-right: 0"
          >
            <div class="switch-label">
              <span>Unidade ativa?</span>
            </div>
            <div class="switch-toggle">
              <input type="checkbox" id="ativa" name="ativa" />
              <label for="ativa"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-4 mt-6">
        <a
          href="<%= process.env.PREFIX %>/dashboard"
          class="button button-tertiary"
        >
          Retornar
        </a>
        <button type="submit" class="button button-primary">Cadastrar</button>
      </div>
    </form>
  </div>
</div>

<script>
  const submitButton = document.querySelector("button[type='submit']");
  submitButton.addEventListener("click", () => {
    const form = document.querySelector("form");
    form.submit();
    submitButton.disabled = true;
  });
</script>

<%- include('partials/floatingMenu.ejs'); %>
<%- include('partials/footer.ejs'); %>
