<%- include('partials/header.ejs'); %>

<div class="card min-w-[336px] w-5/6 max-w-md sm:w-3/4">
  <div class="w-full">
    <h2>Criar usuário</h2>
    <div>
      <form method="post" action="/igaie/register">
        <input type="hidden" name="token" value="<%= token %>" />
        <div class="form-line">
          <label for="name">Nome<span class="required">*</span></label>
          <div>
            <% if (locals.name) { %>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Digite seu nome"
              minlength="3"
              value="<%= name %>"
              autofocus
            />
            <% } else { %>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Digite seu nome"
              minlength="3"
              autofocus
            />
            <% } %>
            <span
              class="hidden validation-error"
              id="nomeError"
              aria-live="polite"
              >Nome precisa ter 3 caracteres ou mais.</span
            >
          </div>
        </div>
        <div class="form-line">
          <label for="email">E-mail<span class="required">*</span></label>
          <div>
            <% if (locals.email) { %>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Digite seu e-mail"
              value="<%= email %>"
              autofocus
            />
            <% } else { %>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Digite seu e-mail"
            />
            <% } %>
            <span class="validation-error" id="emailError" aria-live="polite">
              Digite um e-mail válido.
            </span>
          </div>
        </div>
        <div class="form-line">
          <label for="password">Senha<span class="required">*</span></label>
          <div>
            <% if (locals.password) { %>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Digite sua senha"
              minlength="4"
              value="<%= password %>"
            />
            <% } else { %>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Digite sua senha"
              minlength="4"
            />
            <% } %>
            <span
              class="validation-error"
              id="passwordError"
              aria-live="polite"
            >
              Senha precisa ter mais de 4 caracteres.
            </span>
          </div>
        </div>
        <div class="form-line">
          <label for="confirm"
            >Confirme a senha<span class="required">*</span></label
          >
          <div>
            <% if (locals.confirm) { %>
            <input
              type="password"
              name="confirm"
              id="confirm"
              placeholder="Confirme sua senha"
              minlength="4"
              value="<%= confirm %>"
            />
            <% } else { %>
            <input
              type="password"
              name="confirm"
              id="confirm"
              placeholder="Confirme sua senha"
              minlength="4"
            />
            <% } %>
            <span class="validation-error" id="confirmError" aria-live="polite">
              Confirmação precisa ter 3 caracteres ou mais.
            </span>
          </div>
        </div>
        <div class="flex justify-end gap-4 mt-6">
          <button
            type="button"
            class="button button-tertiary"
            onclick="window.location='/igaie/login'"
          >
            Início
          </button>
          <button type="submit" class="button button-primary">
            Criar usuário
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const submitButton = document.querySelector("button[type='submit']");
  submitButton.addEventListener("click", () => {
    const form = document.querySelector("form");
    form.submit();
    submitButton.disabled = true;
  });
</script>

<%- include('partials/footer.ejs'); %>
