<%- include('partials/header.ejs'); %>

<div class="card w-[320px] sm:w-1/2 lg:w-1/3">
  <div class="w-full">
    <h2>Cadastrar unidade</h2>
    <% if (locals.success) { %>
      <% if (success.length > 0) { %>
        <div class="success">
          <ul>
            <li><%= success %></li>
          </ul>
        </div>
      <% }; %>
    <% }; %>
    <% if (locals.errors) { %>
      <div class="error <%= errors == '' ? 'hidden' : '' %>">
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }); %>
        </ul>
      </div>
    <% }; %>
    <div>
      <form method="post" action="/register-school">
        <div class="form-line">
          <label for="codigo">Código<span class="required">*</span></label>
          <div>
            <% if (locals.codigo) { %>
              <input type="number" name="codigo" id="codigo" placeholder="Código da escola" min="1" value="<%= codigo %>" required autofocus />
            <% } else { %>
              <input type="number" name="codigo" id="codigo" placeholder="Código da escola" min="1" required autofocus />
            <% } %>
          </div>
        </div>
        <div class="form-line">
          <label for="nome">Nome<span class="required">*</span></label>
          <div>
            <% if (locals.nome) { %>
              <input type="text" name="nome" id="nome" placeholder="Nome da escola" minlength="3" value="<%= nome %>" required />
            <% } else { %>
              <input type="text" name="nome" id="nome" placeholder="Nome da escola" minlength="3" required />
            <% } %>
            <span class="hidden validation-error" id="nomeError" aria-live="polite"></span>
          </div>
        </div>
        <div class="form-line">
          <label for="bairro">Bairro<span class="required">*</span></label>
          <div>
            <% if (locals.bairro) { %>
              <input type="text" name="bairro" id="bairro" placeholder="Bairro da escola" minlength="3" value="<%= bairro %>" required />
            <% } else { %>
              <input type="text" name="bairro" id="bairro" placeholder="Bairro da escola" minlength="3" required />
            <% } %>
            <span class="hidden validation-error" id="bairroError" aria-live="polite"></span>
          </div>
        </div>
        <div class="form-line">
          <label for="ocupacao">Ocupação<span class="required">*</span></label>
          <div>
            <% if (locals.ocupacao) { %>
              <input type="text" name="ocupacao" id="ocupacao" placeholder="Tipo de ocupação da escola" minlength="3" value="<%= ocupacao %>" required />
            <% } else { %>
              <input type="text" name="ocupacao" id="ocupacao" placeholder="Tipo de ocupação da escola" minlength="3" required />
            <% } %>
            <span class="hidden validation-error" id="ocupacaoError" aria-live="polite"></span>
          </div>
        </div>
        <div class="form-line">          
          <% if (locals.ativa) { %>
            <input type="checkbox" name="ativa" id="ativa" class="toggle" <%= ativa == true ? 'checked' : ''; %> />
          <% } else { %>
            <input type="checkbox" name="ativa" id="ativa" class="toggle" />
          <% }; %>
          <label for="ativa">Ativa?</label>
        </div>
        <div class="flex justify-end gap-4 mt-6">
          <button type="button" class="button button-tertiary" onClick="window.location = '/dashboard'">Retornar</button>
          <button type="submit" class="button button-primary">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- user.role === 'admin' ? include('partials/floatingMenuAdmin.ejs') : include('partials/floatingMenuBasic.ejs'); %>
<%- include('partials/footer.ejs'); %>